[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggQC"]
	path = ggQC
	url = https://github.com/kenithgrey/ggqc
	shallow = true
	registered = true
[submodule "MobileTrigger"]
	path = MobileTrigger
	url = https://github.com/kenithgrey/mobiletrigger
	shallow = true
	registered = true
